@charset "utf-8";html{color:#000;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,Hiragino Sans GB,\5b8b\4f53}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
fieldset,img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
a:hover{text-decoration:underline}
ins,a{text-decoration:none}
.fn-clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.fn-clear{zoom:1}
body .fn-hide{display:none}
.fn-left,.fn-right{display:inline}
.fn-left{float:left}
.fn-right{float:right}
.ui-tiptext{color:#4d4d4d;padding:0 0 0 22px;position:relative;overflow:hidden;vertical-align:middle;line-height:15px;*line-height:17px;_line-height:15px;line-height:17px\0;zoom:1}
.ui-tiptext-content{padding:7px 12px 8px;position:relative}
.ui-tiptext-icon,.ui-tiptext-arrowup{background:transparent url('https://i.alipayobjects.com/e/201201/2NBAbOHc4g.png') no-repeat}
.ui-tiptext-icon{width:15px;height:15px;display:block;position:absolute;top:0;left:0;text-indent:-9999px;overflow:hidden}
.ui-tiptext-message .ui-tiptext-icon{background-position:0 -33px}
.ui-tiptext-container-message{background:#e5f5ff;border:1px solid #c9d5e2}
.ui-tiptext-success .ui-tiptext-icon{background-position:-45px -33px}
.ui-tiptext-container-success{background:#e7ffce;border:1px solid #b9e2a0}
.ui-tiptext-error .ui-tiptext-icon{background-position:-30px -33px}
.ui-tiptext-container-error{background:#fceee8;border:1px solid #f6c8b5}
.ui-tiptext-warning .ui-tiptext-icon{background-position:-15px -33px}
.ui-tiptext-container-warning{background:#ffff8d;border:1px solid #e7c560}
.ui-tiptext-question .ui-tiptext-icon{background-position:-60px -33px}
.ui-tiptext-container-question{background:#e5f5ff;border:1px solid #c9d5e2}
.ui-tiptext-stop .ui-tiptext-icon{background-position:-75px -33px}
.ui-tiptext-container-stop{background:#fceee8;border:1px solid #f6c8b5}
.ui-tiptext-wait .ui-tiptext-icon{background-position:-90px -33px}
.ui-tiptext-container-wait{background:#fff9d9;border:1px solid #e6cbb1}
.ui-tiptext-arrowup{display:inline-block;height:10px;left:40px;margin-left:-8px;position:absolute;text-indent:-9999em;width:16px;z-index:1;top:-8px;_top:-7px}
.ui-tiptext-arrowup-message{background-position:-194px -39px}
.ui-tiptext-arrowup-warning{background-position:-211px -39px}
.ui-xboxtitle{height:45px;background-color:#f9f9f9;border-bottom:1px solid #d9d9d9}
.ui-xboxtitle h2{font:18px/20px "STHei","Microsoft YaHei","WenQuanYi Micro Hei";color:#000;padding:12px 0 0 20px}
.ui-roundstep{width:780px;height:75px;overflow:hidden}
.ui-roundstep-orange,.ui-roundstep-blue,.ui-roundstep-current em,.ui-roundstep-finish em,.ui-roundstep-todo em,.ui-roundstep-success em{background-image:url("https://i.alipayobjects.com/e/201209/1EkcyV4Yjs.png");background-repeat:no-repeat}
.ui-roundstep-orange{background-repeat:repeat-x;background-position:0 -735px}
.ui-roundstep-blue{background-repeat:repeat-x;background-position:0 -735px}
.ui-roundstep li{float:left;width:150px}
.ui-roundstep-3 li{padding:0 20px 0 75px}
.ui-roundstep-4 li{padding:0 0 0 40px}
.ui-roundstep em{color:#fff;font-size:18px;font-style:normal;font-weight:600;line-height:58px;text-align:center;background-color:#f9f9f9;height:57px;display:block;margin-left:50px;position:relative;width:45px}
.ui-roundstep span{font-size:14px;color:#999;display:block;width:150px;text-align:center}
.ui-roundstep .ui-roundstep-current span{color:#626262}
.ui-roundstep-orange .ui-roundstep-current em{background-position:-139px -84px}
.ui-roundstep-orange .ui-roundstep-todo em{background-position:-276px -183px}
.ui-roundstep-orange .ui-roundstep-finish em{background-position:5px 13px}
.ui-roundstep .ui-roundstep-success em{background-position:-370px -277px}
.ui-roundstep-blue .ui-roundstep-current em{background-position:-139px -451px}
.ui-roundstep-blue .ui-roundstep-todo em{background-position:-276px -365px}
.ui-roundstep-blue .ui-roundstep-finish em{background-position:5px -538px}
.ui-roundstep strong{background:#fe9d00;display:block;height:3px;position:absolute;right:43px;top:29px;overflow:hidden}
.ui-roundstep-3 strong{width:202px}
.ui-roundstep-4 strong{width:147px}
.ui-roundstep-blue strong{background-color:#a3b7d3}
.ui-roundstep-3 .ui-roundstep-first strong{width:127px}
.ui-roundstep-4 .ui-roundstep-first strong{width:92px}
.ui-separator{color:#b2b2b2}
.ui-separator-pd{color:#b2b2b2;padding:0 5px}
.ui-xbox,.ui-xbox-action{position:absolute;top:0}
.ui-xbox{z-index:999;left:50%;top:50%;width:500px;background-color:rgba(0,0,0,0.5);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000,endColorstr=#88000000);padding:6px}
:root .ui-xbox{FILTER:none\9}
.ui-xbox-action{display:block;right:16px;top:16px;z-index:10}
.ui-xbox-content{background:#fff;height:100%;*zoom:1}
.ui-xbox-close{color:#999;font-family:tahoma;font-size:24px;line-height:14px;height:18px;width:18px;text-decoration:none;display:block;overflow:hidden}
.ui-xbox-close:hover{color:#777}
.ui-xbox-mask{opacity:.2;filter:alpha(opacity=20);-moz-opacity:.2;background:black}
.ui-calendar{position:absolute;font:16px 'Xin Gothic','PT Sans','Hiragino Sans GB','Helvetica Neue',Helvetica,Arial,sans-serif;background:#f9f9f9;border-collapse:collapse;border-spacing:0;border:1px solid #dadada;box-shadow:1px 1px 9px #ccc;text-align:center}
.ui-calendar ul{list-style-type:none;margin:0;padding:0;clear:both;width:210px;zoom:1}
.ui-calendar ul:after{display:block;content:"";visibility:hidden;font-size:0;clear:both;height:0}
.ui-calendar li{float:left;text-align:center;width:30px;padding:3px 0;cursor:pointer}
.ui-calendar .ui-calendar-navigation{font-size:14px;border-bottom:1px solid #dadada}
.ui-calendar .ui-calendar-month-year{width:90px}
.ui-calendar .month:hover,.ui-calendar .year:hover{color:#d64}
.ui-calendar .ui-calendar-previous-year:hover,.ui-calendar .ui-calendar-previous-month:hover,.ui-calendar .ui-calendar-next-month:hover,.ui-calendar .ui-calendar-next-year:hover{color:#d64}
.ui-calendar .ui-calendar-data-container{border-top:1px solid #dadada;border-bottom:1px solid #dadada}
.ui-calendar .ui-calendar-date-column .previous-month,.ui-calendar .ui-calendar-date-column .next-month{color:#ccc}
.ui-calendar .ui-calendar-date-column .disabled-date{background:#eee;color:#bbb}
.ui-calendar .ui-calendar-year-column li,.ui-calendar .ui-calendar-month-column li{width:65px;margin:2px;padding:2px 0;border-radius:4px}
.ui-calendar li.ui-calendar-day-0,.ui-calendar li.ui-calendar-day-6{color:#d64}
.ui-calendar .ui-calendar-year-column li:hover,.ui-calendar .ui-calendar-month-column li:hover,.ui-calendar .ui-calendar-date-column li:hover{color:#333;background:#dadada}
.ui-calendar .ui-calendar-year-column li.focused-element,.ui-calendar .ui-calendar-month-column li.focused-element,.ui-calendar .ui-calendar-date-column li.focused-element{color:#fff;background:#d64}
.ui-calendar .ui-calendar-footer{color:#999}
.ui-calendar .ui-calendar-today,.ui-calendar .ui-calendar-time{width:auto;padding:3px 4px}
.ui-calendar .ui-calendar-time{float:right}
.ui-calendar ul,.ui-calendar .ui-calendar-data-container{*float:left;*clear:both}
.ui-poptip{position:absolute;color:#db7c22;z-index:101}
.ui-poptip-shadow{background-color:rgba(229,169,107,0.15);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#26e5a96b,endColorstr=#26e5a96b);border-radius:2px;padding:2px;float:left}
.ui-poptip-container{position:relative;background-color:#fffcef;border:1px solid #ffbb76;border-radius:2px;padding:5px 22px 5px 10px;float:left}
a.ui-poptip-close{position:absolute;right:3px;top:3px;border:1px solid #ffc891;border-radius:3px;width:12px;height:12px;font-family:tahoma;color:#dd7e00;line-height:10px;line-height:10px\0;*line-height:12px;text-align:center;font-size:14px;background:#ffd7af;background:-webkit-gradient(linear,left top,left bottom,from(#fff0e1),to(#ffe7cd));background:-moz-linear-gradient(top,#fff0e1,#ffe7cd);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0E1',endColorstr='#FFE7CD');background:-o-linear-gradient(top,#fff0e1,#ffe7cd);background:linear-gradient(top,#fff0e1,#ffe7cd);overflow:hidden}
a.ui-poptip-close:hover{border:1px solid #ffb24c;text-decoration:none;color:#dd7e00;background:#ffd7af;background:-webkit-gradient(linear,left top,left bottom,from(#ffe5ca),to(#ffcc98));background:-moz-linear-gradient(top,#ffe5ca,#ffcc98);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE5CA',endColorstr='#FFCC98');background:-o-linear-gradient(top,#ffe5ca,#ffcc98);background:linear-gradient(top,#ffe5ca,#ffcc98)}
.ui-poptip-arrow,.ui-poptip-arrow em,.ui-poptip-arrow span{position:absolute;font-size:14px;font-family:SimSun;line-height:21px;z-index:10;*zoom:1}
.ui-poptip-arrow em,.ui-poptip-arrow-left em,.ui-poptip-arrow-right em{color:#ffbb76}
.ui-poptip-arrow span,.ui-poptip-arrow-left span,.ui-poptip-arrow-right span{color:#fffcef;top:0;left:0}
.ui-poptip-arrow-left,.ui-poptip-arrow-left em,.ui-poptip-arrow-left span{position:absolute;font-size:14px;font-family:SimSun}
.ui-poptip-arrow-left,.ui-poptip-arrow-10{top:6px;left:-6px}
.ui-poptip-arrow-left em,.ui-poptip-arrow-10 em{top:0;left:-1px}
.ui-poptip-arrow-right,.ui-poptip-arrow-right em,.ui-poptip-arrow-right span{position:absolute;font-size:14px;font-family:SimSun}
.ui-poptip-arrow-right,.ui-poptip-arrow-2{top:6px;right:8px;*right:7px;right:7px\0}
.ui-poptip-arrow-right em,.ui-poptip-arrow-2 em{top:0;left:1px}
.ui-poptip-arrow-11{left:14px;top:-10px;top:-9px\0}
.ui-poptip-arrow-11 em{top:-1px;left:0}
.ui-poptip-arrow-1{right:28px;top:-10px;top:-9px\0}
.ui-poptip-arrow-1 em{top:-1px;left:0}
.ui-poptip-arrow-7{left:14px;bottom:11px;_bottom:10px;bottom:10px\0}
.ui-poptip-arrow-7 em{top:1px;left:0}
.ui-poptip-arrow-5{right:28px;bottom:11px;_bottom:10px;bottom:10px\0}
.ui-poptip-arrow-5 em{top:1px;left:0}
.ui-poptip-icon{float:left;display:inline;margin-right:6px;width:50px;height:42px}
.ui-poptip-icon-notice{background:transparent url('https://i.alipayobjects.com/e/201207/32UMBEuECH.png') no-repeat}
.ui-poptip-icon-trade{background:transparent url('https://i.alipayobjects.com/e/201207/3coEJviyzD.png') no-repeat}
.ui-poptip-icon-text{display:none}
.ui-poptip-content{*zoom:1;float:none;display:block}
.ui-poptip-content:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.ui-poptip-link{margin-top:4px;float:left}
.ui-poptip-link a{color:#08c}
:root .ui-poptip-shadow{FILTER:none\9}
.ui-poptip-blue{color:#4d4d4d}
.ui-poptip-blue .ui-poptip-shadow{background-color:rgba(0,0,0,0.05);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0c000000,endColorstr=#0c000000)}
.ui-poptip-blue .ui-poptip-container{background-color:#f8fcff;border:1px solid #b9c8d3}
.ui-poptip-blue .ui-poptip-arrow em,.ui-poptip-blue .ui-poptip-arrow-left em,.ui-poptip-blue .ui-poptip-arrow-right em{color:#b9c8d3}
.ui-poptip-blue .ui-poptip-arrow span,.ui-poptip-blue .ui-poptip-arrow-left span,.ui-poptip-blue .ui-poptip-arrow-right span{color:#f8fcff}
.ui-poptip-white{color:#333}
.ui-poptip-white .ui-poptip-shadow{background-color:rgba(0,0,0,0.05);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0c000000,endColorstr=#0c000000)}
.ui-poptip-white .ui-poptip-container{background-color:#fff;border:1px solid #b1b1b1}
.ui-poptip-white .ui-poptip-arrow em,.ui-poptip-white .ui-poptip-arrow-left em,.ui-poptip-white .ui-poptip-arrow-right em{color:#b1b1b1}
.ui-poptip-white .ui-poptip-arrow span,.ui-poptip-white .ui-poptip-arrow-left span,.ui-poptip-white .ui-poptip-arrow-right span{color:#fff}
.ui-button *{margin:0;padding:0}
.ui-button{padding:0;display:inline-block;position:relative;text-align:center;text-decoration:none!important;vertical-align:middle;overflow:visible;cursor:pointer;font-family:verdana,Hiragino Sans GB}
div.ui-button,p.ui-button,span.ui-button{*display:inline}
.ui-button-text{display:inline-block;*display:inline;*zoom:1;cursor:pointer;border:0;text-decoration:none;overflow:visible;font-size:14px;font-weight:700}
.ui-button a.ui-button-text:hover{text-decoration:none}
input.ui-button-text,button.ui-button-text{*vertical-align:top;font-family:Hiragino Sans GB}
.ui-list{display:inline-block;padding:10px 10px}
.ui-list-item{font-size:12px;line-height:20px;background:url(https://img.alipay.com/sys/personal/style/ui-components.png) no-repeat -172px -19px;padding-left:10px;color:#808080}
.ui-list-item a{font-size:12px;line-height:20px}
.ui-list-gray .ui-list-item{background:url(https://img.alipay.com/sys/personal/style/ui-components.png) no-repeat -188px 2px}
.ui-list-graylink .ui-list-item{background:url(https://img.alipay.com/sys/personal/style/ui-components.png) no-repeat -188px 2px}
.ui-list-graylink .ui-list-item a{color:#666}
.ui-list-nosquare .ui-list-item{background:transparent;padding-left:0}
.ui-select-trigger{background-image:url("https://i.alipayobjects.com/e/201209/9LGLKdfPz.png");background-repeat:no-repeat;display:inline-block;height:30px;border:1px solid #ccc;background-position:right -527px;text-decoration:none;line-height:30px;padding:0 29px 0 10px;color:#7c7c7c;cursor:pointer}
.ui-select-trigger:hover{border-color:#a6a6a6;text-decoration:none;color:#7c7c7c}
.ui-form-item-error .ui-select-trigger{border:1px solid #f00}
.ui-select-content{border:1px solid #ccc;background-color:#fff}
.ui-select-item{line-height:30px;padding:0 30px 0 10px;cursor:default}
.ui-select-hover{background:#f2f2f2}
.ui-littleselect-trigger{background-image:url("https://i.alipayobjects.com/e/201209/9LGLKdfPz.png");background-repeat:no-repeat;line-height:24px;background-position:right -498px;height:24px;border:1px solid #fff;padding:0 14px 0 10px;text-align:right;display:inline-block;text-decoration:none;color:#7c7c7c;cursor:pointer}
.ui-littleselect-trigger:hover{border-color:#ccc;text-decoration:none}
.ui-littleselect-content{border:1px solid #ccc;background-color:#fff}
.ui-littleselect-item{line-height:24px;padding:0 14px 0 10px;cursor:default;text-align:right}
.ui-littleselect-hover{background:#f2f2f2}
.ui-autocomplete-ctn{border:1px solid #ccc;background-color:#fff;box-shadow:2px 2px 3px #eee}
.ui-autocomplete-item{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:310px;height:30px;line-height:30px;padding:0 10px 0 10px;cursor:default}
.ui-autocomplete-item-hover{background:#f2f2f2}
.ui-inputZoom-ctn{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;background-color:#fffdca;border:1px solid #facf66;color:#f73200;font-size:16px;padding:6px 4px;width:174px}
.fn-mt0{margin-top:0}
.fn-mt5{margin-top:5px}
.fn-mt10{margin-top:10px}
.fn-mt15{margin-top:15px}
.fn-mt20{margin-top:20px}
.fn-mt25{margin-top:25px}
.fn-mt30{margin-top:30px}
.fn-mt35{margin-top:35px}
.fn-mt40{margin-top:40px}
.fn-mt45{margin-top:45px}
.fn-mt50{margin-top:50px}
.fn-mt55{margin-top:55px}
.fn-mt60{margin-top:60px}
.fn-mr0{margin-right:0}
.fn-mr5{margin-right:5px}
.fn-mr10{margin-right:10px}
.fn-mr15{margin-right:15px}
.fn-mr20{margin-right:20px}
.fn-mr25{margin-right:25px}
.fn-mr30{margin-right:30px}
.fn-mr35{margin-right:35px}
.fn-mr40{margin-right:40px}
.fn-mr45{margin-right:45px}
.fn-mr50{margin-right:50px}
.fn-mr55{margin-right:55px}
.fn-mr60{margin-right:60px}
.fn-mb0{margin-bottom:0}
.fn-mb5{margin-bottom:5px}
.fn-mb10{margin-bottom:10px}
.fn-mb15{margin-bottom:15px}
.fn-mb20{margin-bottom:20px}
.fn-mb25{margin-bottom:25px}
.fn-mb30{margin-bottom:30px}
.fn-mb35{margin-bottom:35px}
.fn-mb40{margin-bottom:40px}
.fn-mb45{margin-bottom:45px}
.fn-mb50{margin-bottom:50px}
.fn-mb55{margin-bottom:55px}
.fn-mb60{margin-bottom:60px}
.fn-ml0{margin-left:0}
.fn-ml5{margin-left:5px}
.fn-ml10{margin-left:10px}
.fn-ml15{margin-left:15px}
.fn-ml20{margin-left:20px}
.fn-ml25{margin-left:25px}
.fn-ml30{margin-left:30px}
.fn-ml35{margin-left:35px}
.fn-ml40{margin-left:40px}
.fn-ml45{margin-left:45px}
.fn-ml50{margin-left:50px}
.fn-ml55{margin-left:55px}
.fn-ml60{margin-left:60px}
.fn-pt0{padding-top:0}
.fn-pt5{padding-top:5px}
.fn-pt10{padding-top:10px}
.fn-pt15{padding-top:15px}
.fn-pt20{padding-top:20px}
.fn-pt25{padding-top:25px}
.fn-pt30{padding-top:30px}
.fn-pt35{padding-top:35px}
.fn-pt40{padding-top:40px}
.fn-pt45{padding-top:45px}
.fn-pt50{padding-top:50px}
.fn-pt55{padding-top:55px}
.fn-pt60{padding-top:60px}
.fn-pr0{padding-right:0}
.fn-pr5{padding-right:5px}
.fn-pr10{padding-right:10px}
.fn-pr15{padding-right:15px}
.fn-pr20{padding-right:20px}
.fn-pr25{padding-right:25px}
.fn-pr30{padding-right:30px}
.fn-pr35{padding-right:35px}
.fn-pr40{padding-right:40px}
.fn-pr45{padding-right:45px}
.fn-pr50{padding-right:50px}
.fn-pr55{padding-right:55px}
.fn-pr60{padding-right:60px}
.fn-pb0{padding-bottom:0}
.fn-pb5{padding-bottom:5px}
.fn-pb10{padding-bottom:10px}
.fn-pb15{padding-bottom:15px}
.fn-pb20{padding-bottom:20px}
.fn-pb25{padding-bottom:25px}
.fn-pb30{padding-bottom:30px}
.fn-pb35{padding-bottom:35px}
.fn-pb40{padding-bottom:40px}
.fn-pb45{padding-bottom:45px}
.fn-pb50{padding-bottom:50px}
.fn-pb55{padding-bottom:55px}
.fn-pb60{padding-bottom:60px}
.fn-pl0{padding-left:0}
.fn-pl5{padding-left:5px}
.fn-pl10{padding-left:10px}
.fn-pl15{padding-left:15px}
.fn-pl20{padding-left:20px}
.fn-pl25{padding-left:25px}
.fn-pl30{padding-left:30px}
.fn-pl35{padding-left:35px}
.fn-pl40{padding-left:40px}
.fn-pl45{padding-left:45px}
.fn-pl50{padding-left:50px}
.fn-pl55{padding-left:55px}
.fn-pl60{padding-left:60px}
.ft-12px{font-size:12px}
.ft-14px{font-size:14px}
.ft-16px{font-size:16px}
.ft-18px{font-size:18px}
.ft-black{color:#000}
.ft-orange{color:#f60}
.ft-grey{color:#999}
.ft-red{color:#f00}
.ft-green{color:#1fa542}
.ft-white{color:#fff}
.ft-blue{color:#08c}
.ft-text{color:#4d4d4d}
.ft-greyLink{color:#666}
.ft-bold{font-weight:bold}
.ft-underline{text-decoration:underline}
.ft-lh18px{line-height:18px}
.ui-tipxbox{position:relative;*zoom:1;overflow:hidden}
.ui-tipxbox .ui-tipxbox-icon{width:32px;height:32px;position:absolute;top:24px;left:40px;text-indent:-9999px}
.ui-tipxbox-icon,a.xbox-close-link{background:transparent url('https://i.alipayobjects.com/e/201201/2NBAbOHc4g.png') no-repeat}
.ui-icon-message{background-position:0 0}
.ui-icon-success{background-position:-99px 0}
.ui-icon-error{background-position:-66px 0}
.ui-icon-warning{background-position:-33px 0}
.ui-icon-question{background-position:-132px 0}
.ui-icon-stop{background-position:-165px 0}
.ui-icon-wait{background-position:-198px 0}
.ui-tipxbox-content{margin:22px 0 30px 87px}
.ui-tipxbox-content h3{color:#333;font-size:14px;font-weight:bold}
.ui-tipxbox-explain{color:#808080}
.ui-tipxbox-other{color:#333}
.ui-tipxbox-other a{color:#3d86e5}
.ui-button-lorange,.ui-button-lorange:hover,.ui-button-morange,.ui-button-morange:hover,.ui-button-sorange,.ui-button-sorange:hover,.ui-button-lorange .ui-button-text,.ui-button-morange .ui-button-text,.ui-button-sorange .ui-button-text{background:transparent url(https://i.alipayobjects.com/e/201208/3IgyctwEjp.png) no-repeat;color:#fff}
.ui-button-lorange{background-position:0 0}
.ui-button-lorange .ui-button-text{padding:0 20px;background-position:right -177px;line-height:35px;height:35px}
.ui-button-lorange:hover{background-position:0 -45px}
.ui-button-lorange:hover .ui-button-text{background-position:right -222px}
.ui-button-morange{background-position:0 -355px}
.ui-button-morange .ui-button-text{padding:0 22px;background-position:right -503px;line-height:31px;height:31px}
.ui-button-morange:hover{background-position:0 -392px}
.ui-button-morange:hover .ui-button-text{background-position:right -540px}
.ui-button-sorange{background-position:0 -651px}
.ui-button-sorange .ui-button-text{padding:0 12px;font-size:12px;background-position:right -771px;line-height:25px;height:25px}
.ui-button-sorange:hover{background-position:0 -681px}
.ui-button-sorange:hover .ui-button-text{background-position:right -801px}
.ui-button-ldisable,.ui-button-mdisable,.ui-button-sdisable,.ui-button-ldisable .ui-button-text,.ui-button-mdisable .ui-button-text,.ui-button-sdisable .ui-button-text{background:transparent url(https://i.alipayobjects.com/e/201208/3IgyctwEjp.png) no-repeat;color:#fff;cursor:default}
.ui-button-ldisable{background-position:0 -1021px}
.ui-button-ldisable .ui-button-text{padding:0 20px;background-position:right -1063px;line-height:35px;height:35px}
.ui-button-mdisable{background-position:0 -891px}
.ui-button-mdisable .ui-button-text{padding:0 22px;background-position:right -927px;line-height:31px;height:31px}
.ui-button-sdisable{background-position:0 -962px}
.ui-button-sdisable .ui-button-text{padding:0 12px;font-size:12px;background-position:right -991px;line-height:25px;height:25px}
.ui-tipbox{position:relative;zoom:1}
.ui-tipbox .ui-tipbox-icon{width:32px;height:32px;position:absolute;top:17px;left:40px;text-indent:-9999px}
.ui-tipbox-icon{background:transparent url('https://i.alipayobjects.com/e/201201/2NBAbOHc4g.png') no-repeat}
.ui-tipbox-message{border:1px solid #cbd7e2;background:#e4f5fe}
.ui-icon-message{background-position:0 0}
.ui-tipbox-success{border:1px solid #e1e1ca;background:#edfed0}
.ui-icon-success{background-position:-99px 0}
.ui-tipbox-error{background:#fdeee9;border:1px solid #f6c7b8}
.ui-icon-error{background-position:-66px 0}
.ui-tipbox-warning{background:#fefea4;border:1px solid #e6c46a}
.ui-icon-warning{background-position:-33px 0}
.ui-tipbox-question{border:1px solid #cbd7e2;background:#e4f5fe}
.ui-icon-question{background-position:-132px 0}
.ui-tipbox-stop{background:#fdeee9;border:1px solid #f4c7b5}
.ui-icon-stop{background-position:-165px 0}
.ui-tipbox-wait{border:1px solid #e6cbb1;background:#fff9d9}
.ui-icon-wait{background-position:-198px 0}
.ui-tipbox-content{margin:14px 0 14px 87px}
.ui-tipbox-content-simple{margin:24px 0 24px 87px}
.ui-tipbox-content h3{color:#333;font-size:14px;font-weight:bold}
.ui-tipbox-explain{color:#808080}
.ui-tipbox-other{color:#333}
.ui-tipbox-other a{color:#3d86e5}
.ui-tipbox-xbox{background:#fff;border:1px solid transparent}
.ui-tipbox-container{width:700px;position:relative;zoom:1}
.ui-tipbox-container .ui-tipbox-icon{width:32px;height:32px;position:absolute;top:17px;left:40px;text-indent:-9999px}
.ui-tipbox-container-message{border:1px solid #cbd7e3;background:#e5f5ff}
.ui-tipbox-container-success{border:1px solid #e5e5ce;background:#edffcc}
.ui-tipbox-container-error{background:#fceee8;border:1px solid #f6c8b5}
.ui-tipbox-container-warning{background:#ffff9d;border:1px solid #e7c560}
.ui-tipbox-container-question{border:1px solid #cbd7e3;background:#e5f5ff}
.ui-tipbox-container-stop{background:#fceee8;border:1px solid #f6c8b5}
.ui-tipbox-container-wait{border:1px solid #cbd7e3;background:#e5f5ff}
.n-explain{color:#808080}
.n-other{color:#333}
.n-other a{color:#3d86e5}
.ui-button-lwhite,.ui-button-lwhite:hover,.ui-button-mwhite,.ui-button-mwhiter:hover,.ui-button-swhite,.ui-button-swhite:hover,.ui-button-lwhite .ui-button-text,.ui-button-mwhite .ui-button-text,.ui-button-swhite .ui-button-text{background:transparent url(https://i.alipayobjects.com/e/201208/3IgyctwEjp.png) no-repeat;color:#595959}
.ui-button-lwhite{background-position:0 -89px}
.ui-button-lwhite .ui-button-text{padding:0 20px;background-position:right -266px;line-height:35px;height:35px}
.ui-button-lwhite:hover{background-position:0 -133px}
.ui-button-lwhite:hover .ui-button-text{background-position:right -310px}
.ui-button-mwhite{background-position:0 -429px}
.ui-button-mwhite .ui-button-text{padding:0 22px;background-position:right -577px;line-height:31px;height:31px}
.ui-button-mwhite:hover{background-position:0 -466px}
.ui-button-mwhite:hover .ui-button-text{background-position:right -614px}
.ui-button-swhite{background-position:0 -711px}
.ui-button-swhite .ui-button-text{padding:0 12px;font-size:12px;background-position:right -831px;line-height:25px;height:25px}
.ui-button-swhite:hover{background-position:0 -741px}
.ui-button-swhite:hover .ui-button-text{background-position:right -861px}
.ui-button-lblue,.ui-button-lblue:hover,.ui-button-mblue,.ui-button-mblue:hover,.ui-button-sblue,.ui-button-sblue:hover,.ui-button-lblue .ui-button-text,.ui-button-mblue .ui-button-text,.ui-button-sblue .ui-button-text{background:transparent url(https://i.alipayobjects.com/e/201208/3IgyctwEjp.png) no-repeat;color:#fff}
.ui-button-lblue{background-position:0 -1105px}
.ui-button-lblue .ui-button-text{padding:0 20px;background-position:right -1190px;line-height:35px;height:35px}
.ui-button-lblue:hover{background-position:0 -1147px}
.ui-button-lblue:hover .ui-button-text{background-position:right -1233px}
.ui-button-mblue{background-position:0 -1276px}
.ui-button-mblue .ui-button-text{padding:0 22px;background-position:right -1357px;line-height:31px;height:31px}
.ui-button-mblue:hover{background-position:0 -1316px}
.ui-button-mblue:hover .ui-button-text{background-position:right -1397px}
.ui-button-sblue{background-position:0 -1437px}
.ui-button-sblue .ui-button-text{padding:0 12px;font-size:12px;background-position:right -1506px;line-height:25px;height:25px}
.ui-button-sblue:hover{background-position:0 -1471px}
.ui-button-sblue:hover .ui-button-text{background-position:right -1540px}
.ui-form-l{padding:20px 5px 30px 50px}
.ui-form-bg{background:#fff;padding-bottom:50px}
.ui-form-xboxBg{background:#fff;padding-bottom:30px;padding-right:20px}
.ui-form legend{display:none}
.ui-label{line-height:16px;color:#4c4c4c;font-size:14px;float:left;margin-left:-130px;margin-right:10px;padding-top:7px;*padding-top:11px;text-align:right;width:130px}
.ui-radio{vertical-align:middle;margin-right:7px;height:14px;line-height:14px}
.ui-img{vertical-align:top}
.ui-input{width:170px;padding:6px;height:18px;line-height:18px;border:1px solid #c1c1c1;color:#343434;font-size:12px;vertical-align:middle}
.ui-text{width:220px;height:30px;line-height:30px;*line-height:34px;font-size:14px}
.ui-view{border:1px solid #cfcfcf;vertical-align:middle;padding:35px 50px;line-height:84px;color:#999}
.ui-input:hover{border:1px solid #727272}
.ui-textarea{border:1px solid #ccc;display:block;width:170px;padding:6px;height:50px}
.ui-checkbox{height:14px;margin:0 5px 0 10px;vertical-align:middle}
.ui-form-welcome{text-align:center;font-size:14px;color:#7c7c7c;padding-top:25px}
.ui-form-welcome .account{color:#000;font-size:16px}
.ui-form-item{padding:10px 5px 10px 130px;*padding:8px 5px 8px 130px;_padding:9px 5px 9px 130px;zoom:1;position:relative;font-family:tahoma,arial,Microsoft YaHei,Hiragino Sans GB,\5b8b\4f53}
.ui-form-item:after{clear:both;content:'.';display:block;height:0;visibility:hidden}
.ui-form-item-last{padding-bottom:0!important}
.ui-form-item-radio{height:14px;line-height:14px}
.ui-form-item-radio .ui-label{padding-top:0}
.ui-form-title{color:#ed6c00;padding-left:130px;height:16px;line-height:16px;margin-bottom:8px}
.ui-form-title strong{float:left;margin-left:-130px;text-align:right;width:130px;font-size:16px}
.ui-form-title .explain{font-size:12px;color:#999;padding-left:10px}
.ui-form-arrow{background-position:-25px -511px;display:block;height:10px;left:-7px;position:absolute;top:34%;width:7px}
.ui-form-item-error .ui-form-arrow{background-position:-16px -510px}
.ui-form-item-focus .ui-form-arrow,.ui-form-item-problem .ui-form-arrow{background-position:-7px -510px}
.ui-form-explain,.ui-form-arrow,.ui-form-other{background-image:url("https://i.alipayobjects.com/e/201209/1COYhD8EL6.png");background-repeat:no-repeat}
.ui-form-explain a{color:#08c}
.ui-form-item-success .ui-form-explain,.ui-form-item-error .ui-form-explain,.ui-form-item-focus .ui-form-explain,.ui-form-item-problem .ui-form-explain,.ui-form-item-warn .ui-form-explain{position:absolute;top:0;left:300px;padding:4px 3px 4px 25px;padding:6px 3px 2px 25px\9;_padding:4px 3px 4px 25px;border-radius:2px 2px 2px 2px;background-color:#f9f9f9;border:1px solid #c2c8c8;line-height:22px}
:root .ui-form-item-success .ui-form-explain,:root .ui-form-item-error .ui-form-explain,:root .ui-form-item-focus .ui-form-explain,:root .ui-form-item-problem .ui-form-explain,:root .ui-form-item-warn .ui-form-explain{padding:4px 3px 4px 25px\0}
.ui-form-item-success .ui-form-explain{background-position:-10px 8px;padding-left:20px;background-color:#fff;border:0}
.ui-form-item-success .ui-form-arrow{display:none}
.ui-form-item-error .ui-form-explain{background-position:-59px -70px;background-color:#fff5f5;border:1px solid #f00;color:#f00;padding-left:25px}
.ui-form-item-error .ui-form-arrow{display:block}
.ui-form-explain-whiteSection{border:1px solid #e5e5e5;background-color:#fff;padding:5px 0 5px 10px;margin:4px 0}
.ui-form-explain-dashedLine{border-top:1px dashed #e5e5e5;margin-right:5px}
.ui-form-group{border-radius:3px 3px 3px 3px;margin:0 0 0 50px;border:1px solid #fff}
.ui-form .ui-form-group .ui-form-item{padding-left:80px}
.ui-form-group .ui-label{width:80px;margin-left:-80px}
.ui-form-group-warn,.ui-form-group-problem,.ui-form-group-success{background-color:#fff9f1;border:1px solid #dac093;position:relative;width:300px}
.ui-form-group-success{background-color:#f9f9f9;border:1px solid #e8e8e8}
.ui-form-group-warn .ui-form-explain,.ui-form-group-problem .ui-form-explain,.ui-form-group-success .ui-form-explain{background-color:#f9f9f9;border:1px solid #dac093;border-radius:2px 2px 2px 2px;left:315px;position:absolute;top:14px;width:340px;display:inline-block;padding:6px 10px 4px 25px;padding:8px 10px 2px 25px\9;_padding:6px 10px 4px 25px;line-height:22px;word-break:break-all}
:root .ui-form-group-warn .ui-form-explain,:root .ui-form-group-problem .ui-form-explain,:root .ui-form-group-success .ui-form-explain{padding:6px 10px 4px 25px\0}
.ui-form-group-warn .ui-form-explain{background-position:-292px -328px}
.ui-form-group-problem .ui-form-explain{background-position:-123px -153px}
.ui-form-group-success .ui-form-explain{border:0;background-position:-10px 10px;padding-left:18px;background-color:#fff;left:300px}
.ui-form-item-focus .ui-form-explain{background-position:-195px -239px}
.ui-form-item-problem .ui-form-explain{background-position:-123px -155px}
.ui-form-item-warn .ui-form-explain{background-position:-292px -330px;border:1px solid #dac093}
.ui-form-hover .ui-input{border:1px solid #a6a6a6}
.ui-form-item-success .ui-input{margin-right:6px}
.ui-form-item-error .ui-input{border:1px solid #f00}
.ui-form-item-focus .ui-input{border:1px solid #07f;outline:0;-webkit-box-shadow:0 0 5px #8cddff!important;box-shadow:0 0 3px #8cddff}
.ui-form-hover .ui-textarea{border:1px solid #a6a6a6}
.ui-form-item-error .ui-textarea{border:1px solid #f00}
.ui-form-item-focus .ui-textarea{border:1px solid #07f;box-shadow:0 0 3px #8cddff}
.ui-form-other{background-position:-129px -471px;color:#9b9b9b;margin:30px 0 30px 60px;height:16px;line-height:16px;padding-left:72px}
.ui-form-other .title{float:left;margin-left:-50px;width:55px;font-size:12px;font-weight:100}
.ui-form-other-hover{cursor:pointer}
.ui-form-other-click{background-position:-129px -426px}
.dashed-line{border-bottom:1px dashed #e5e5e5;display:inline-block;height:8px;float:left;width:610px;overflow:hidden}
.ui-form-dashed{border-top:1px dashed #e5e5e5;height:1px;margin:20px 30px 20px;overflow:hidden}
.ui-form-item-checkbox{height:14px;padding:10px 0 18px}
.ui-checkbox-label{font-size:12px;height:14px;line-height:14px;vertical-align:middle}
.ui-form-item-checkbox .ui-label{height:14px;line-height:14px;font-size:12px}
.ui-form-l .ui-label{padding-top:13px;*padding-top:16px;color:#535353}
.ui-form-l .ui-input{width:310px;padding:11px 10px;font-size:14px;height:18px;line-height:18px;color:#4d4d4d}
.ui-form-l .ui-form-item{padding:0 5px 20px 130px}
.ui-form-l .ui-form-item-first{margin-bottom:0;height:25px}
.ui-form-item .ui-input-110{width:110px}
.ui-form-item .ui-input-80{width:80px}
.ui-form-item .ui-input-100{width:100px}
.ui-form-item .ui-input-170{width:170px}
.ui-form-item .fn-hide{display:none}
.ui-form-group .fn-hide{display:none}
.ui-form-item-address .ui-textarea{margin:15px 0 0 10px}
#submitBtn{margin-left:10px}
.ui-form-confirm{margin-left:10px}
.ui-form-confirm .loading-text{background:url("https://img.alipay.com/pa/frame/v2/ico-loading-text.gif") no-repeat scroll right 80% transparent;color:#20b907;padding-right:15px}
html{color:#4d4d4d}
a{color:#08c}
.bgGreyHtml{background-color:#f9f9f9}
.grid-990{margin:0 auto;width:990px}
.grid-780{margin:0 auto;width:778px}
.grid-780-pd{padding-bottom:30px;padding-top:30px}
#container{background:none repeat scroll 0 0 #f9f9f9;width:100%;padding-bottom:50px;min-height:400px;height:auto;_height:400px}
.navi-container{padding-left:40px;padding-right:40px}
.fn-mr0{margin-right:0}
.fn-ml10{margin-left:10px}
.fn-mr7{margin-right:7px}
.fn-mr6{margin-right:6px}
.fn-mr12{margin-right:12px}
.fn-mt-18{margin-top:-18px}
.fn-mt30{margin-top:30px}
.fn-mt20{margin-top:20px}
.fn-mt10{margin-top:10px}
.fn-ml30{margin-left:30px}
.fn-ml40{margin-left:40px}
.fn-ml50{margin-left:50px}
.fn-ml160{margin-left:160px}
.fn-mr25{margin-right:25px}
.fn-mr15px{margin-right:15px}
.fn-mb30{margin-bottom:30px}
.fn-pt0{padding-top:0}
.fn-pt15{padding-top:15px}
.fn-pt50{padding-top:50px}
.fn-pb35{padding-bottom:35px}
.fn-pb60{padding-bottom:60px}
.fn-pb70{padding-bottom:70px}
.fn-pb230{padding-bottom:230px}
.ft-14px{font-size:14px}
.ft-black{color:#000}
.ft-orange{color:#f60}
.ft-grey{color:#999}
.ft-red{color:#f00}
.ft-green{color:#1fa542}
.ft-white{color:#fff}
.ft-bold{font-weight:bold}
.ft-lh18px{line-height:18px}
#header{height:75px;width:100%;background:#fff;border-bottom:1px solid #e3e3e3;box-shadow:0 0 2px #e3e3e3}
.header-wrap{height:55px;padding-top:20px}
#alipay-img-logo{float:left}
#alipay-img-logo a{float:left;border-right:2px solid #808080;height:37px;width:128px}
#alipay-img-logo strong{float:left;padding:13px 0 0 10px;font-size:24px;color:#808080;height:24px;line-height:24px;font-weight:100;font-family:Microsoft YaHei,Hiragino Sans GB,\5b8b\4f53}
.topmenu{float:right;height:45px;position:relative;z-index:999;color:#b2b2b2}
.topmenu a{color:#4d4d4d}
.split{font-style:normal}
.topmenu-item{border-right:1px solid #e2e2e2;float:left;line-height:12px;padding:1px 15px}
.topmenu-item-dropdown{border-right:0}
#footer{background-color:#f9f9f9;width:100%}
.about-item,#footer h2{background-image:url("https://i.alipayobjects.com/e/201208/3lpQ2VtlSN.png");background-repeat:no-repeat}
#footer h2{background-position:0 0;height:30px;margin:25px 225px;text-indent:-9999em}
.about-item{float:left;height:68px;padding-right:30px;width:238px;overflow:hidden}
.about-item-last{padding-right:0}
.about-item .title{height:35px;margin-left:50px;text-indent:-9999em;width:220px}
.about-item .explain{font-size:14px;line-height:28px;color:#777}
#easy .explain{padding-left:74px}
#safety .explain{padding-left:95px}
#home .explain{padding-left:91px}
#easy{background-position:-3px -47px}
#safety{background-position:0 -133px}
#home{background-position:0 -224px}
.copyright{color:#808080;padding-bottom:20px;height:20px;width:290px;overflow:hidden;margin:0 auto}
.footer-personal .copyright,.footer-enterprise .copyright{padding-top:60px}
.server{text-align:center;color:#f9f9f9}
.footer-personal .server,.footer-enterprise .server{color:#f4f4f4}
.J-pop,.J-slide{cursor:pointer}
a.J-pop:hover,a.J-slide:hover{text-decoration:none}
.ui-label-info{padding-top:0;+padding-top:1px}
@media screen and (-webkit-min-device-pixel-ratio:0){.ui-label-info{padding-top:2px}
}
.ui-form .ui-form-item-error .ui-form-explain{background-position:-59px -70px}
.ui-form .ui-form-item-error .ui-form-arrow{background-position:-16px -510px}
.ui-form-group-warn .ui-form-explain,.ui-form-group-problem .ui-form-explain,.ui-form-group-success .ui-form-explain{width:354px}
#queryPwdStrengthWrap .ui-list,#payPwdStrengthWrap .ui-list{padding:0}
.ui-form-item-focus #J-pop-queryPwd,.ui-form-item-focus #J-pop-payPwd{background-image:none;padding:4px 10px 4px 10px}
.pwdStrengthWrap{position:relative}
#queryPwdStrengthWrap,#payPwdStrengthWrap{left:65px;position:absolute;top:2px}
#queryPwdStrengthWrap .ui-list-item,#payPwdStrengthWrap .ui-list-item{padding-left:0}
#queryPwdStrengthWrap .ui-list-item-last,#payPwdStrengthWrap .ui-list-item-last{background:0}
.pwdStrength{padding:1px 0 7px}
.pwdStrength li{line-height:16px;padding:3px 0 3px 15px;background:url("https://i.alipayobjects.com/e/201305/NpM3pbDI5.gif") no-repeat -9px -17px}
.pwdStrength li.pwdStrength-item-red{background-position:-29px -37px}
.pwdStrength li.pwdStrength-item-green{background-position:-27px 0}
.grid-780-border{border:1px solid #e3e3e3;background:#fff;position:relative}
.picture{background-image:url("https://i.alipayobjects.com/e/201209/1CONpQxTLI.png");background-repeat:no-repeat}
.picture{background-position:-17px -10px;height:270px;left:779px;position:absolute;top:60%;width:225px}
.ui-form-title-enterprise{color:#286cad}
.sl-checkcodeIcon{height:14px;left:237px;position:absolute;top:15px;width:14px}
.checkcodeIcon{display:none;height:14px;width:14px}
.sl-checkcodeIcon .checkcodeIcon-wrong{background:url("https://i.alipayobjects.com/e/201209/1COYhD8EL6.png") no-repeat scroll -65px -78px transparent;display:inline-block}
.sl-checkcodeIcon .checkcodeIcon-right{background:url("https://i.alipayobjects.com/e/201209/1COYhD8EL6.png") no-repeat scroll -10px 0 transparent;display:inline-block}
#J-changeQueryPwd{font-size:12px}
.ui-form-item .ui-img1{position:absolute;left:390px;top:-5px}
.ui-form-item .ui-img2{position:absolute;left:220px;top:77px}
.ui-tiptext-xbox{margin:30px 0 20px 20px}
.ui-tiptext-shortXbox{margin:15px 0 20px 20px}
.ui-tiptext-page{margin:30px 0 20px 30px}
.ui-form-xboxpadding{padding:30px 0 30px 5px}
.ui-form-xboxBg .ui-form-item{padding-left:100px}
.ui-tipbox-auth .ui-tipbox-content{margin:20px 0 20px 162px}
.ui-tipbox-auth .fn-mb25{margin-bottom:25px}
.ui-tipbox-auth .ui-tipbox-content h3{color:#333;font-size:18px;font-weight:700;font-family:Microsoft YaHei,Hiragino Sans GB,\5b8b\4f53}
.ui-tipbox-auth .ui-tipbox-icon{left:115px}
.ui-tipbox-auth .ui-tipbox-help{border-top:1px dashed #d8d8d8;margin:0 30px;padding:10px 0 25px 133px}
.ui-tipbox-auth .ui-tipbox-other{margin:10px 0}
.ui-tipbox-other a{color:#08c}
.ui-tipxbox-auth .ui-tipxbox-content{margin:0 0 20px 90px;padding-top:40px;width:440px}
.ui-tipxbox-auth .fn-mb40{margin-bottom:40px}
.ui-tipxbox-auth .ui-tipxbox-content h3{color:#333;font-size:14px;font-family:Microsoft YaHei,Hiragino Sans GB,\5b8b\4f53}
.ui-tipxbox-auth .ui-tipxbox-icon{left:43px;top:41px}
.ui-tipxbox-auth .ui-tipxbox-help{border-top:1px dashed #d8d8d8;margin:0 20px;padding:10px 0 25px 70px}
.ui-tipxbox-auth .ui-tipxbox-other{margin:10px 0}
.ui-tipxbox-other a{color:#08c}
.xbox-hideClose .ui-xbox-action{width:120px;height:40px;top:6px;right:6px;background:#fff}
.xbox-hideClose .ui-xbox-close{position:absolute;top:13px;right:10px}
a.ui-xbox-close:hover{text-decoration:none}
.ui-xbox-action{top:19px}
.ui-xbox-action-old{display:block;position:absolute;right:10px;top:8px}
.ui-xbox-close-old{color:#999;font-family:tahoma;font-size:24px;line-height:24px;text-decoration:none}
a.ui-xbox-close-old:hover{text-decoration:none}
.ui-tiptext-auth{margin-left:20px;margin-top:25px}
.ui-poptip-content{word-break:break-all;word-wrap:break-word}
.ui-step{padding:0 40px;margin:0 auto;font-size:14px;list-style:none;zoom:1;position:relative;color:#b7b7b7;overflow:hidden}
.ui-step:after{clear:both;content:" ";display:block;font-size:0;height:0;visibility:hidden}
.ui-step li{float:left;height:54px;margin:0;width:50%;position:relative}
.ui-step li .ui-step-icon{height:50px;position:absolute;top:0;width:150px;text-align:center;left:-25px;font-family:tahoma}
.ui-step-icon .iconfont{font-size:30px;margin:0;color:#b7b7b7;color:rgba(0,0,0,.25);*color:#b7b7b7;line-height:30px;background:#fff;padding:0 10px;position:absolute;top:0;left:0;text-shadow:1px 1px 2px #fff,0 0 0 #ccc,1px 1px 2px #fff}
.ui-step-icon .ui-step-number{line-height:14px;font-style:normal;position:absolute;top:7px;left:0;padding:0 20px;font-weight:700;color:#fff}
.ui-step-end .ui-step-number{background:transparent;font-size:12px;font-style:normal;left:17px;line-height:12px;padding:0;text-shadow:none;top:9px}
.ui-step-icon .ui-step-text{height:20px;line-height:20px;position:relative;text-shadow:0 1px 0 #fff;top:34px;left:-50px}
.ui-step li .ui-step-line{height:3px;background:#b9b9b9;display:block;margin-top:14px;line-height:1;overflow:hidden}
.ui-step li.ui-step-end{position:absolute;top:0;right:-110px;width:150px;zoom:1;_clear:both}
.ui-step li.ui-step-end .ui-step-line{display:none}
.ui-step-2 li{width:100%}
.ui-step-3 li{width:50%}
.ui-step-4 li{width:33%}
.ui-step-5 li{width:25%}
.ui-step .ui-step-active{color:#f16f20}
.ui-step .ui-step-active .iconfont{color:#ff7001}
.ui-step .ui-step-done .iconfont{color:#ff9a00}
.ui-step .ui-step-done .ui-step-line{background:#fc9c27}
.ui-step-blue .ui-step-active{color:#3b7cb8}
.ui-step-blue .ui-step-active .iconfont{color:#1e6bb3}
.ui-step-blue .ui-step-done .iconfont{color:#428fd6}
.ui-step-blue .ui-step-done .ui-step-line{background:#418cd6}
.ui-ministep{list-style:none;font-size:12px;font-family:tahoma;line-height:1.5;margin:0;padding:0;color:#b7b7b7}
.ui-ministep-item{position:relative;display:inline-block;*display:inline;*zoom:1;margin-right:36px}
.ui-ministep .iconfont{color:#b7b7b7;font-size:18px}
.ui-ministep .ui-ministep-number{position:absolute;top:6px;left:5px;color:#fff;line-height:12px;font-style:normal}
.ui-ministep .ui-ministep-text{position:relative;top:-2px}
.ui-ministep-active,.ui-ministep-active .iconfont{color:#ff6700}
.grid-780 .ui-step-icon .iconfont{background-color:#f9f9f9}
.grid-780 .ui-step-end .ui-step-icon .ui-step-number{background:transparent}