@{
    ViewBag.Title = "手信";
}
@section featured {
    <section>
        <div id="banner" style="background-image:url(../../Images/giwCOMS9f_src.jpg);background-position: center;background-repeat: no-repeat ">
            
@*            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>*@
@*            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>*@
        </div>
    </section>
}
<div class="grid-990 product fn-clear">
    <article class="product-item" id="pay-quickly">
        <h2 class="title">
            <a href="http://home.alipay.com/bank/paymentKJ.htm" class="title-link" target="_blank" seed="title-titleLink" smartracker="on">付款 是件容易的事</a>
        </h2>
        <ul class="ui-link fn-clear">
            <li class="ui-link-item ui-link-item-first"><a href="http://abc.alipay.com/cool/payment.htm" target="_blank" seed="Product-quickpay-kuaijie">付款方式</a></li>
            <li class="ui-link-item"><a href="http://g.alipay.com/home/index.htm" target="_blank" seed="Product-quickpay-fenqi">如何海外购物</a></li>
            <li class="ui-link-item"><a href="http://vip.etao.com/kuai.htm?t" target="_blank" seed="Product-quickpay-business">快捷支付特惠</a></li>
            <li class="ui-link-item ui-link-item-last"><a href="https://kuai.alipay.com/express/index.htm" target="_blank" seed="Product-quickpay-more">更多</a></li>
        </ul>
        <p class="link"><i class="icon-youhui"></i><a href="http://kj.alipay.com/citic" target="_blank" seed="Product-quickpay-link">中信快捷支付，满50减5元！</a></p>

    </article>

    <article class="product-item" id="pay-life">
        <h2 class="title">
            <a href="https://app.alipay.com/container/web/index.htm" target="_blank" class="title-link" seed="title-titleLinkT1" smartracker="on">随时随地 缴费还款</a>
        </h2>
        <ul class="ui-link fn-clear">
            <li class="ui-link-item ui-link-item-first"><a href="https://shenghuo.alipay.com/payment.htm?agent=lf_wyfk" target="_blank" seed="Product-shenghuo-zhuanzhan">转账付款</a></li>
            <li class="ui-link-item"><a href="https://shenghuo.alipay.com/jiaofei.htm?_pdType=aecfbbfaaafibhbfcagb" target="_blank" seed="Product-shenghuo-jiaofei">水电煤缴费</a></li>
            <li class="ui-link-item"><a href="https://ccrprod.alipay.com/credit.htm?_pdType=bbcebbchbjifbibibebd" target="_blank" seed="Product-shenghuo-xinyongka">信用卡还款</a></li>
            <li class="ui-link-item ui-link-item-last"><a href="http://fun.alipay.com/down/index.htm?_bdType=ajcgbiciahjabbihebfa" target="_blank" seed="Product-shenghuo-more">手机支付</a></li>
        </ul>
        <p class="link"><i class="icon-youhui"></i><a href="http://fun.alipay.com/yuebao/index.html?src=zfbsydt" target="_blank" seed="Product-shenghuo-link">赚钱利器余额宝！</a></p>
    </article>

    <article class="product-item product-item-last" id="pay-anywhere">
        <h2 class="title">
            <a href="https://my.alipay.com/portal/account/safeguard.htm" target="_blank" class="title-link" seed="title-titleLinkT2" smartracker="on">会员保障 让你安心支付</a>
        </h2>
        <ul class="ui-link fn-clear">
            <li class="ui-link-item ui-link-item-first"><a href="https://my.alipay.com/portal/account/safeguard.htm" target="_blank" seed="Product-mobile-product">了解会员保障</a></li>
            <li class="ui-link-item"><a href="https://securitycenter.alipay.com/sc/study/index.htm" target="_blank" seed="Product-mobile-intro">安全课堂</a></li>
            <li class="ui-link-item ui-link-item-last"><a href="https://securitycenter.alipay.com/sc/index.htm" target="_blank" seed="Product-mobile-download">安全体检</a></li>
        </ul>
        <p class="link"><i class="icon-youhui"></i><a href="http://abc.alipay.com/carnival/ieanquan.htm" target="_blank" seed="Product-mobile-link">安全必备，使命必达！</a></p>

    </article>
</div>
<div class="grid-990 about fn-clear" coor="about">
    <article class="about-item" id="safety">
        <i class="icon-about icon-about-safety"></i>
        <h3 class="title icon-title-safety">认识手信</h3>
        <ul class="ui-link">
            <li class="ui-link-item ui-link-item-first"><a href="http://abc.alipay.com/about/about.html" target="_blank" seed="Other-security-usertest">什么是手信</a></li>
            <li class="ui-link-item ui-link-item-last"><a href="http://weibo.com/alipay" target="_blank" seed="Other-security-zhishi">官方微博</a></li>
            <li class="follow_wrapper"><a class="follow_btn" href="http://e.weibo.com/alipay" title="关注手信" target="_blank" seed="follow_wrapper-follow_btn" smartracker="on"><span><em class="icon">+</em>关注</span></a></li>
        </ul>
    </article>

    <article class="about-item" id="vip">
        <i class="icon-about icon-about-vip"></i>
        <h3 class="title icon-title-vip">最热专题</h3>
        <ul class="ui-link">
            <li class="ui-link-item ui-link-item-first"><a href="http://abc.alipay.com/carnival/haiwaigou.htm" target="_blank" seed="Other-vip-dingyue">海外购攻略</a></li>
            <li class="ui-link-item ui-link-item-last"><a href="http://abc.alipay.com/carnival/tidetaxi2.htm" target="_blank" seed="Other-vip-tequan">最潮付款方式</a></li>
        </ul>
    </article>

    <article class="about-item about-item-last" id="abc">
        <i class="icon-about icon-about-abc"></i>
        <h3 class="title icon-title-abc">3分钟学会手信</h3>
        <ul class="ui-link">
            <li class="ui-link-item ui-link-item-first"><a href="http://abc.alipay.com/cool/taobao.htm" target="_blank" seed="Other-abc-how">如何购物</a></li>
            <li class="ui-link-item"><a href="http://abc.alipay.com/cool/xsqh.htm" target="_blank" seed="Other-abc-tv">新手须知</a></li>
        </ul>
    </article>
</div>
